In [1]:
# Dependencies and setup
import pandas as pd

In [2]:
# Files to load
measurements_file = ("Resources/hawaii_measurements.csv")
stations_file = ("Resources/hawaii_stations.csv")

In [3]:
# Read measurements and stations Data Files and store into Pandas Data Frames
measurements_df = pd.read_csv(measurements_file)
stations_df = pd.read_csv(stations_file)

In [4]:
measurements_df.size

78200

In [5]:
# Drop the rows with NaN's and missing values
clean_measurements = measurements_df.dropna(axis=0)
clean_stations = stations_df.dropna()

In [6]:
clean_measurements.size

72412

In [7]:
clean_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [8]:
clean_measurements.to_csv("Resources/clean_measurements.csv", index = False)
clean_stations.to_csv("Resources/clean_stations.csv", index = False)